/*
	styling for new entry and update forms
*/

.die-form input, select, button {
	 -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

.die-form form {
	width: 50%;
	text-align: left;
}

.die-form input[type="submit"] {
	color: white;
	background-color: #333;
	padding: 1em;
	width: 20em;
	border: none;
	cursor: pointer;
	border-radius: 5px;
}

.die-form input[type="text"]:focus, input[type="number"]:focus, input[type="date"]:focus {
    border: 2px solid lightblue;
}

.die-form input[type="text"], input[type="number"], input[type="date"] {
	padding: 10px;
	border: 2px solid #aaa;
	border-radius: 2px;
}

.center {
	text-align: center;
	margin: 5px auto;
}

.field {
	display: block;
	margin: 1em 0;
}

.field > label {
	margin-top: .5em;
	margin-right: 3em;
}

.field-input {
	display: block;
	float: right;
	position: relative;
}

.field-input input {
}

/*
	insert form specific
*/
#insert-form-container {

}

/*
	update form specific
*/

#entry-info label {
	font-weight: bold;
}
