/*
	styling for the tabs on the top of the page
*/

.tabs {
	overflow: hidden;
	border: 1px solid #ccc;
    background-color: #f1f1f1;
}

.tabs button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 1em 1em;
    transition: 0.3s;
}

.tabs button:hover {
	background-color: #ccc;
}

.active_tab {
	background-color: #ccc !important;
}

.tab_content {
    padding: .5em 1em;
    border: 1px solid #ccc;
    border-top: none;
}

/*
	styling for the table
*/

#table_container table {
	width: 100%;
	border-spacing: 0;
	border: 1px solid #ccc;
}

#table_container th, td {
	padding: .5em;
	text-align: center;	
	border-bottom: 1px solid #ddd;
}

#table_container tr:nth-child(even) {
	background-color: #f2f2f2;
}

#table_container thead {
	background-color: #333;
	color: white;
}

#table_container thead, tbody tr {
	display: table;
	width: 100%;
	table-layout: fixed;
}

.table_body {
	display: block;
	height: 35em;
	width: 100%;
	overflow-y: auto;
	overflow-x: hidden; 
}

.table_body tr:hover {
	background-color: #d0d0d0 !important;
    transition: 0.3s;
}

.table_body tr {
	cursor: pointer;
}

#check_header, .table_checkboxes {
	width: 4em;
}

#dieID_header, .dieID_row {
	width: 3em;
}

#dateLastUsed_header, .dateLastUsed_row {
	width: 11em;
}

#machine_header, .machine_row {
	width: 10em;
}

#location_header, .location_row {
	width: 10em;
}

#description_header, .description_row {
	text-align: left !important;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

#table_container input[type='checkbox'] {
    width: 2em;
    height: 2em;
    background: white;
    border-radius: 5px;
    border: 2px solid #555;
}
#table_container input[type='checkbox']:checked {
    background: #abd;
}

/*
	styling for new entry and update forms
*/

.die_form input[type="submit"] {
	color: white;
	background-color: #333;
	padding: 1em;
	width: 20em;
	border: none;
	margin: 1em;
	cursor: pointer;
	border-radius: 5px;
}

.die_form input[type="text"]:focus {
    border: 2px solid lightblue;
}

.die_form input[type="text"] {
	margin: 5px;
	padding: 3px;
	border: 2px solid #aaa;
	border-radius: 2px;
	box-sizing: border-box;
}

.die_form input[type="date"] {
	margin: 5px;
	padding: 1px;
	border: 2px solid #aaa;
	border-radius: 2px;
	box-sizing: border-box;
}

.die_form input[type="date"]:focus {
    border: 2px solid lightblue;
}

#entry_info label {
	font-weight: bold;
}

#update_form_container form {
	width: 50%;
}