/*
  styling for the table
*/

.table-container {
  -moz-user-select: none; 
  -webkit-user-select: none; 
  -ms-user-select: none; user-select: none;
  -o-user-select: none;
  border-bottom: none;
}

.table-container table {
  width: 100%;
  border-spacing: 0;
  border: 1px solid #ccc;
}

.table-container th:hover {
  cursor: pointer;
}

.table-container th, td {
  padding: .5em;
  text-align: center; 
}

.table-container tr {
  border-bottom: 1px solid #ddd;
}

.table-container tr:nth-child(even) {
  background-color: #f2f2f2;
}

.table-container thead {
  background-color: #333;
  color: white;
}

.table-container thead, .table-container tbody tr {
  display: table;
  width: 100%;
  table-layout: fixed;
}

.table-body {
  display: block;
  width: 100%;
  overflow-y: auto;
  overflow-x: hidden; 
}

.table-body tr:hover {
  background-color: #d0d0d0 !important;
  transition: 0.3s;
}

.table-body tr {
  cursor: pointer;
}

#dieID-header, .dieID-row {
  width: 3em;
}

#datePurchased-header, .datePurchased-row {
  width: 7em;
}

#machine-header, .machine-row {
  width: 6em;
}

#location-header, .location-row {
  width: 8em;
}

#description-header, .description-row {
  text-align: left !important;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.table-container input[type='checkbox'] {
    width: 2em;
    height: 2em;
    background: white;
    border-radius: 5px;
    border: 2px solid #555;
}
.table-container input[type='checkbox']:checked {
    background: #abd;
}

.pull-row {
  float: right;
  padding: 0;
}

.pull-btn {
    display: none;
    height: 4em;
    width: 8em;
    background-color: #ccc;
    border: none;
    outline: none;
    cursor: pointer;
    transition: 0.3s;
}

.pull-btn:hover {
  background-color: #fff;
}

.table-container tr:hover .pull-btn {
  display: table-cell;
}